{% extends 'layout/base_nomenu.html' %}

{% block title %}
  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
  {% if not success %}
  <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your
    password!</p>
  {% endif %}
{% endblock %}

{% block content %}
  {% if success %}
    <p class="mb-4">{{ message }}</p>
  {% else %}
    <form method="POST" class="user">
    {% csrf_token %}
    <div class="form-group">
      <input type="email" class="form-control form-control-user" name="email" aria-describedby="emailHelp"
             placeholder="Enter Email Address...">
    </div>
    <input type="submit" value="Reset Password" class="btn btn-primary btn-user btn-block">
  </form>
  {% endif %}

  <hr>
  <div class="text-center">
    <a class="small" href="{% url 'register' %}">Create an Account!</a>
  </div>
  <div class="text-center">
    <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
  </div>
{% endblock %}

{% block script %}
{% endblock %}
