{% extends 'layout/base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Your Paper(s)</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>EDAS Paper No.</th>
                <th>Paper Title</th>
                <th>Author(s)</th>
                <th>Fee (THB / USD)</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              {% if articles %}
                {% for article in articles %}
                <tr>
                  <td>{{ article.edas_id }}</td>
                  <td>{{ article.title }}</td>
                  <td>{{ article.get_authors_text }}</td>
                  <td>{{ article.price }} / {{ article.price_us }}</td>
                  <td>{{ article.get_status }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="5">No data</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Your Payment(s)</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Code</th>
                <th>Total</th>
                <th>Method</th>
                <th>Payment Slip</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Confirmed?</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% if payments %}
                {% for payment in payments %}
                <tr>
                  <td>{{ payment.code }}</td>
                  <td>
                    {% if payment.currency == 'THB' %}
                      {{ payment.total }} THB
                    {% elif payment.currency == 'USD' %}
                      {{ payment.total_us }} USD
                    {% endif %}
                  </td>
                  <td>{{ payment.get_method_text }}</td>
                  <td>{% if payment.slip %}Yes{% else %}No{% endif %}</td>
                  <td>{{ payment.create_by.get_full_name }}</td>
                  <td>{{ payment.create_date }}</td>
                  <td>{{ payment.confirm }}</td>
                  <td>
                    <a href="{% url 'payment-detail' payment.id %}"><i class="fas fa-fw fa-info-circle"></i></a>
                    {% if not payment.confirm %}
                      <a href="{% url 'payment-delete' payment.id %}" name="delete"><i class="fas fa-fw fa-trash text-danger"></i></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="8">No data</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    let del_btn = document.getElementsByName("delete")

    del_btn.forEach((e) => {
      e.addEventListener("click", function(event){

        if (!confirm('Are you sure that you want to delete this payment')){
          event.preventDefault();
        }
      })
    });
  </script>
{% endblock %}
